.header-area{
	background-position: center;
	background-size: cover;
	min-height:100%;
	background-repeat: no-repeat;
	height: 70vh;
	max-width: 100%;
	animation: backgroundSlider 40s infinite;
	position: relative;
	overflow: hidden;
	transition: 0.4s ease-in-out;
/* 
	-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;  */
}

@keyframes backgroundSlider {
	0%{
		background-image:url('../public/images/img1.jpg');
		background-position: right;
	}
	20%{
		background-image: url('../public/images/img1.jpg');
	}
	20.01%{
		background-image: url('../public/images/img7.jpg');
	}
	40%{
		background-image: url('../public/images/img7.jpg');
	}
	40.01%{
		background-image: url('../public/images/img3.jpg');
	}
	60%{
		background-image: url('../public/images/img3.jpg');
	}
	60.01%{
		background-image: url('../public/images/img1.jpg');
	}
	80%{
		background-image: url('../public/images/img1.jpg');
	}
	80.01%{
		background-image: url('../public/images/img7.jpg');
	}
	100%{
		background-image: url('../public/images/img7.jpg');
	}
}

/* === overlay ==== */
.content{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.5s ease-in-out;
    width: 100%;
    padding: 10%;
}
.bg-darks{
    width: 100%;
   height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1));
}
.content h2{
    font-size: 130px;
    color: #fff;
    font-family: 'arial';
    text-shadow: 5px 5px 20px rgb(0, 0, 0);
}
.content p{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-shadow: 5px 5px 20px rgb(0, 0, 0);
    padding: 10px 5%;
}
.button{
    background-color: #00a749; 
    border: 0;
    padding: 7px 13px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.button:hover{
    background-color: #0dca5f;
}
.readButton{
    background-color: #00a749; 
    border: 0;
    padding: 9px 13px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.readButton:hover{
    background-color: #fffafa;
    color: #00a749;
}
.locationButton:hover{
    background-color: #00a749;
    color: #fffafa;
}
.locationButton{
    background-color: #fffafa; 
    border: 0;
    text-decoration: none;
    padding: 9px 13px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    color: #00a749;
    transition: 0.5s;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.wave{
    position: absolute;
    bottom: 0;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
